body {
  text-align: center;
  background-color: #ffffdd;
}

.App {
  display: flex;
  justify-content: center;
}

.sidebar {
  margin-top: 2em;
  background-color: white;
  flex-direction: column;
  display: flex;
  align-items: stretch;
  border: 1px black solid;
  flex-shrink: 0;
  position: relative;
  width: fit-content;
}

.fab {
  vertical-align: bottom;
  position: fixed !important;
  bottom: 2em;
  right: 20%;
}

.feed {
    margin: 2em;
    background-color: white;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    border: 1px black solid;
    flex-shrink: 0;
    position: relative;
    max-width: 50%;
  
}